<h1>
<span style="font-size: 60%">Share if you like: </span>
<a class="btn-floating btn red white-text" href="https://plus.google.com/share?url={{site.url}}{{ include.url }}&hl=en-US"
 onclick="javascript:window.open(this.href,'',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <i class="fa fa-google-plus"></i> 
</a>

<a class="btn-floating btn blue white-text" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{ include.url }}&title={{ include.title }}&source={{ include.title }}">
    <i class="fa fa-linkedin"></i>  
</a>

<a class="btn-floating btn blue white-text" target="_blank" href="https://www.facebook.com/dialog/share?app_id=<your-id-here>&display=popup&href={{site.url}}{{ include.url }}&redirect_uri={{site.url}}{{ include.url }}">
    <i class="fa fa-facebook"></i> 
</a>
</h1>