<h1>
<span>Thanks for sharing: </span>
<a href="https://plus.google.com/share?url=http://goharsha.com{{ include.url }}&hl=en-US"
 onclick="javascript:window.open(this.href,'',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <i class="fa fa-google-plus red"></i> 
</a>

<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://goharsha.com{{ include.url }}&title={{ include.title }}&source={{ include.title }}">
    <i class="fa fa-linkedin blue"></i> 
</a>

<a href="https://www.facebook.com/dialog/share?app_id=<your-id-here>&display=popup&href=http://goharsha.com{{ include.url }}&redirect_uri=http://goharsha.com{{ include.url }}">
    <i class="fa fa-facebook blue"></i> 
</a>
</h1>